.customBg {
  background: url("https://images.pexels.com/photos/2395249/pexels-photo-2395249.jpeg?cs=srgb&dl=pexels-evie-shaffer-1259279-2395249.jpg&fm=jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding-block: 4rem;
  background-size: cover;
}
