.customBg {
  background: url("https://as1.ftcdn.net/v2/jpg/02/55/36/46/1000_F_255364654_cxnggWybjJCKaZcw4oK24qP0CqWuelJ7.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-block: 6rem;
}
